<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    My framework Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Voluptas magni similique nostrum, quae, nobis ullam nisi commodi quaerat quo
    illum ipsam exercitationem quidem minima blanditiis autem culpa facere rerum
    earum omnis explicabo. Minima voluptatum labore expedita vitae laboriosam? A
    nisi necessitatibus veritatis, recusandae cupiditate placeat explicabo
    architecto ratione. Corporis, unde.
    <a href="sam.html">sam</a>
  </body>
</html>
